body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.button-container {
    text-align: center;
}

.btn button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #D3D3D3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #A7C7E7;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#statusMessage {
  margin-top: 20px;
  font-weight: bold;
}
